header{
 background: hsl(144, 7%, 29%);
 width: 70%;
 margin-left: 15%;
 height: 100px;
 border-radius: 10px;
}
h1{
    padding-left: 35%;
    padding-top: 25px;
    color: beige;
}
.WDD{
    margin-left: 15%;
    box-shadow: 5px 5px 5px #999;
}
.item{
    margin-left: 13.5%;
}
.bottom{
    background: hsl(144, 7%, 29%);
    width: 70%;
    margin-left: 15%;
    height: 100px;
    border-radius: 10px;
}
.BYU{
    color: beige;
    text-decoration: none;
    margin-left: 250px;
}
.photo{
    margin-left: 66.5%;
}