@media only screen and (max-width: 300px){
    header{
        display: block;
    }
    .logo{
        height: 120px;
        width: 100%; 
        box-shadow: 0 0 30px rgba(0, 0, 0, 40);
        margin: auto;
    }
    .img1{
        height: 120px;
        width: 100%;   
        box-shadow: 0 0 30px rgba(0, 0, 0, 40);
    }
    .name{
        margin: auto;
        width: 100%;
    }
    .name p{
        font-size: 12px;
        width: 80%;
        margin: auto;
        color: antiquewhite;
    }
    .name h2{
        font-size: 14px;
        width: 80%;
        margin: auto;
        color: antiquewhite;
    }
}