@media only screen and (max-width: 800px){

    #logo1{
        width: 700px;
        box-shadow: 5px 5px 5px #999999;
        margin-top: 65px;
        height: 310px;
      }  
      nav {
        background:rgb(50, 34, 34);
        line-height: 3em;
        text-align: center;
        font-size: .9em;
        width: 700px;
        height: 10%;                          
        grid-column: 2/4;
        grid-row: 1/1;
        margin-left: 0px;
        position: absolute;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.1);
      }
      nav a {
        padding-right: 30px;
        min-width: 70px;
        text-decoration: none;
      }

}