body{
    background-color: var(--primary-color);
  }
nav {
    background:rgb(50, 34, 34);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    width: 1300px;
    height: 10%;                          
    grid-column: 2/4;
    grid-row: 1/1;
    margin-left: 0px;
    position: absolute;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1);
  }
  nav > ul {
    list-style-type: none;
    display: flex;
    color: rgb(232, 236, 236);
  }
  
  nav a {
    padding-right: 300px;
    min-width: 70px;
    text-decoration: none;
  }
  nav .a:hover{
    color: rgb(136, 30, 30);
  }
  nav .b:hover{
    color: rgb(136, 30, 30);
  }
  nav .c:hover{
    color: rgb(136, 30, 30);
  }
  nav .d:hover{
    color: rgb(136, 30, 30);
  }
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }
  .logo{
    width: 1300px;
    box-shadow: 5px 5px 5px #999999;
    margin-top: 65px;
    height: 310px;
  }
  #logo1{
    width: 1300px;
    height: 300px;
  }