body{
    background-image: url(https://p0.pikist.com/photos/649/225/storm-clouds-clouds-thunderstorm-grey-sky-gloomy-storm-end-of-the-world-weltuntergang-humor.jpg );
}
nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width: 800px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    
}
nav ul {
	list-style-type: none;
	overflow: hidden;
    display: flex;
}
nav ul li a {
	display: flex;
	color: #fff;
    text-decoration: none;
    padding: 20px;
	
}
.logo{
    margin-top: 50px;
    margin-left: 60px;
}
.log{
    display: flex;
    background-color: #5f0d0d;
	margin: 0 auto;
	max-width: 800px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
h1{
    margin-left: 30px;
    margin-top: 70px;
    color: #fff;
}
h2{
    color: #fff;
    margin-left: 55px;
}
.desc{
    max-width: 800px;
    margin-left: 274px;
    background: #36454f;
}
.por{
    margin-left: 55px ;
    color:#fff ;
    margin-top: 5px;
}
.sceario{
    text-decoration: none;
    color: #fff;
    margin-left: 60px;
    font-size: 25px;
}
.color{
    max-width: 800px;
    margin-left: 274px;
    background: #36454f;
}
.color2{
    max-width: 800px;
    margin-left: 274px;
    background: grey;
}
.color3{
    max-width: 800px;
    margin-left: 274px;
    background: #fff;
}
.red{
    max-width: 800px;
    margin-left: 274px;
    background: grey;
}
.footer ul a{
    text-decoration: none;
    color: #fff;
    padding: 30px;
}
.footer ul {
	list-style-type: none;
	overflow: hidden;
    display: flex;
}
.BYU{
    color: #fff;
    text-decoration: none;
}