header{
  display:flex;
  justify-content:center;
  background-color: rgba(0,0,0,.70); 
}
.logo{
  box-shadow: 0 0 30px rgba(0, 0, 0, 40);
  border-radius:30px; 
}
nav{
  background-color:black;
}
nav ul {
  display:flex;
  padding:8px;
  justify-content:center;
  list-style-type:none;
  }
nav ul li a{
  text-decoration:none;
  color: grey;
}
nav ul li a:hover{
  color:black;
  background-color:grey;
}
nav ul li{
  padding:15px;
}
p{
  color: black;
  margin-left: 20px;
 }
h2{
  color:grey;
  margin-left:270px
}
h3{
  width: 250px;
  margin-left:10px;
}
.presto{
  margin-left: 267px;
  width: 800px;
  height:450px;
      }
.forest{
  display:flex;
  width: 783px;
  margin-left: 267px;
  background-color: rgba(0,0,0,0.1)  ;
  height:50px;
  border: 1px solid;
  padding:5px
          }  
.Mon{
  padding:15px;
  background:black;
  margin-right: 83px; ;
  width:60px;
  margin-right: 83px; 
  color:white;
}
.Tus{
  padding:15px;
  background:black;
  width:60px;
  margin-right: 83px;   
  color:white;
}
.Whe{
  padding:15px;
  background:black;
  width:60px;
  margin-right: 83px;  
  color:white;
}
.Thu{
  padding:15px;
  background:black;
  width:60px;
  margin-right: 83px; 
  color:white;
}
.Fri{
  padding:15px;
  background:black;
  width:60px; 
  color:white;
}
.forest1{
  display: grid;
  grid-template-columns: 1fr 1fr ;  
  grid-template-row: 1fr 1fr ;
   width: 800px;
   margin-left: 267px;
   background-color: rgba(0,0,0,0.1);
   height:50px; 
   border: 1px solid;
   height:200px;
          }
.article{
  color:black;
  margin:50px 5px 0px 10px;
  width: 400px;
  grid-colum: 1/2;
  grid-row:2/2;
  position: absolute;
}
.new{
  position:relative;
  left:130px;
  height:150px;
  margin:10px;
}
.forest2{
    width: 1337px;
    margin: 0px 0px 0px 0px;
    background-color:black;
    height:40px;
          }
.forest2 ul{
  display:flex;
  justify-content:center;
}
.forest2 ul li a{
   padding-right: 290px;
}
.footer{
    background-color:grey ;
    display:flex;
    width: 1337px;
          }
.red{
    padding: 0px 0px 
          }
.red ul{
    padding: 40px;
    display:flex;
  list-style:none;
          }
.red ul li a{
     padding: 10px;
     text-decoration:none;
     color:black;
          }
.red a:hover{
     background-color:black ;
     color:grey;
          }
.BYU{
      color:black;
      text-decoration:none;
      margin: 57px 0 0 450px;
          }
.ctac ul{
  list-style:none;
  margin-top:57px
}
.ctac ul li a{
  color:black;
}

.comte{
   color:black;
   margin-left: 280px;
}
