header{
  display:flex;
  justify-content:center;
  background-color: rgba(0,0,0,.70); 
}
.logo{
  box-shadow: 0 0 30px rgba(0, 0, 0, 40);
  border-radius:30px; 
}
nav{
  background-color:black;
}
 button{
  background-color: black;
  border: none;
}
nav ul {
  display:flex;
  padding:8px;
  justify-content:center;
  list-style-type:none;
  }
nav ul li a{
  text-decoration:none;
  color: grey;
}
nav ul li a:hover{
  color:black;
  background-color:grey;
}
nav ul li{
  padding:15px;
}
p{
  color: black;
  margin-left: 20px;
 }
h2{
  color:grey;
  margin-left:270px
}
h3{
  width: 250px;
  margin-left:10px;
}
.presto{
  margin-left: 267px;
  width: 800px;
  height:450px;
      }
.forest{
  display:flex;
  width: 783px;
  margin-left: 267px;
  background-color: rgba(0,0,0,0.1)  ;
  height:50px;
  border: 1px solid;
  padding:5px
          }  
.Mon{
  padding:15px;
  background:black;
  margin-right: 83px; ;
  width:60px;
  margin-right: 83px; 
  color:white;
}
.Tus{
  padding:15px;
  background:black;
  width:60px;
  margin-right: 83px;   
  color:white;
}
.Whe{
  padding:15px;
  background:black;
  width:60px;
  margin-right: 83px;  
  color:white;
}
.Thu{
  padding:15px;
  background:black;
  width:60px;
  margin-right: 83px; 
  color:white;
}
.Fri{
  padding:15px;
  background:black;
  width:60px; 
  color:white;
}
.forest1{
  display: grid;
  grid-template-columns: 1fr 1fr ;  
  grid-template-row: 1fr 1fr ;
   width: 800px;
   margin-left: 267px;
   background-color: rgba(0,0,0,0.1);
   height:50px; 
   border: 1px solid;
   height:200px;
          }
.article{
  color:black;
  margin:50px 5px 0px 10px;
  width: 400px;
  grid-colum: 1/2;
  grid-row:2/2;
  position: absolute;
}
.new{
  position:relative;
  left:130px;
  height:150px;
  margin:10px;
}
.forest2{
    width: 1337px;
    margin: 0px 0px 0px 0px;
    background-color:black;
    height:40px;
          }
.forest2 ul{
  display:flex;
  justify-content:center;
}
.forest2 ul li a{
   padding-right: 290px;
}
.footer{
    background-color:grey ;
    display:flex;
    width: 1337px;
          }
.red{
    padding: 0px 0px 
          }
.red ul{
    padding: 40px;
    display:flex;
  list-style:none;
          }
.red ul li a{
     padding: 10px;
     text-decoration:none;
     color:black;
          }
.red a:hover{
     background-color:black ;
     color:grey;
          }
.BYU{
      color:black;
      text-decoration:none;
      margin: 57px 0 0 450px;
          }
.ctac ul{
  list-style:none;
  margin-top:57px;
}
.ctac ul li a{
  color:black;
}

.comte{
   color:black;
   margin-left: 280px;
}
.comte1{
  color:black;
  margin-left: 280px;
}

@media only screen and (max-width: 600px) {
  .logo{
    width: 150px;
  }
  h2{
    margin-left: 0px;
  }
  nav{
    width: auto;
  }
  nav ul{
    display: block;
  }
  .presto{
    width: 260px;
    height: auto;
    margin-left: 0px;
  }
  .comte{
    margin-left: 0px;
  }
  .comte1{
    margin-top: 20px;
    margin-left: 0px;
  }
  .forest{
    display: block;
    width: 90px;
    height: 240px;
    margin-left: 60px;
    padding: 2px;
  }
  h3{
    margin-left: 10px;
  }
 .forest1{
    display: block;
    margin-left: 0px;
    width: 300px;
    height: 500px;
 }
.article{
  width: 200px;
  margin-left: 10px;
}
.new{
  width: 200px;
  margin-left: 10px;
  position: static;
  margin-top: 250px;
}
.footer{
  display:block;
  width: 305px;
}
.red{
  margin-left: 0px;
}
.red ul{
  padding: 5px;
}
.ctac ul{
  margin: 30px 0px 0px 10px;
}
.forest2{
  width: 305px;
  height: 40px;
  margin-left: 1px;
}
.forest2 ul{
  display: flex;
  padding: 10px;
  justify-content: center;
  list-style: none;
}
.forest2 ul li a{
  padding: 20px;
  text-decoration: none;
}
.forest2 ul li a:hover{
  background-color: grey;
  color: aliceblue;
}




}
@media only screen and (max-width: 450px) {
  header{
    display: block;
    width: 260px;
  }
 button{
  border: none;
  background-color: white;
 }
 nav{
  background-color:white;
 }
  nav ul{
    display: none;
  }
  nav ul.open{
    display: block;
  }
  .logo{
    width: 150px;
    margin-left: 40px;
  }
  #hamurgerBtn span:nth-child(1){display: block;}
  #hamurgerBtn span:nth-child(2){display: none;}

  #hamurgerBtn.open span:nth-child(1){display: none;}
  #hamurgerBtn.open span:nth-child(2){display: block;}

}
