body{
    background-color: grey;
}
h1{
 font-size: 90px;
}
.div{
    margin: 200px 0px 0px 20px;
}
body{
    color:#36454f;
    animation: mymove 2s infinite;

  }
  @keyframes mymove {
      from {background-color:rgba(80, 94, 74, 0.7) ;}
      to {background-color: #36454f;}
    }

    