@media only screen and (max-width: 400px){

    #logo1{
        width: 260px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 40);
        margin-top: 65px;
        height: 310px;
      }
      nav {
        background:rgb(50, 34, 34);
        line-height: 3em;
        text-align: center;
        font-size: .9em;
        width: 250px;
        height: 10%;                          
        grid-column: 2/4;
        grid-row: 1/1;
        margin-left: 0px;
        position: absolute;
        border-radius: 20px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 40);
      }
      nav a {
        padding-right: 10px;
        min-width: 70px;
        text-decoration: none;
        font-size: 10px;
      }
      .Pleft{
        width:250px;
        height: 150px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 40);
      }
      .Bleft{
        width:250px;
        height: 150px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 40);
       }
      .Adv{
        margin-bottom: 20px;
        margin-right: 80px;
        display: block;
      }
   .new{
    height: 60px;
   }
   .rodce{
    margin-left: 350px;
   }
   .pright{
    padding-top: 80px;
   }

   .nav2{
    height: 50px;
    width: 280px;
    background-color:aliceblue;
   }  
   .nav2 ul{
    display: flex;
    height: 30px;
    color: black;
   }
.nav2 ul li{
    margin: 0px 0px 0px 0px;
}
footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr 1fr;
    margin-top: 85px;
    height: 100px;
    box-shadow: 5px 5px 5px #999999;
}
.social{
    grid-row: 2/3;
    display: block;
}
.some{
    grid-row: 1/2;
    padding-bottom: 15px;
}
#sign{
    grid-row: 3/4;
}
.Bright{
    padding: 0px;
}
.Pright{
    width: 340px;
}
.pBright{
width: 50px;
}
}
